html {
	height: 100%;
}

body {
	position: relative;
	font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  padding-bottom: 8rem;
}

.navbar-custom {
  /*background-color: #edeeef;*/
  /*background-color: #f9f9f9;*/
  background-color: #34373a;
  border-color: transparent;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-custom > .container-fluid > a {
  font-family: 'Questrial', sans-serif;
  color: #e0e0e0; 
}

li.menuOption > a > b {
  color: #e0e0e0;
}

.navbar-toggle {
  border-style: none;
}

.banner {
  height: 470px;
  /*height: 400px;*/
  width: 100%;
  max-height: 50%;
  max-width: 100%;
  min-height: 20%;
  min-width: 30%;
  /*background-image: url("../assets/images/banner.jpeg");*/
  background-image: url("../images/jumboA.jpg");
  background-size: cover;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Questrial', sans-serif;
}

#queryBox {
  margin-top: 2vh;
}

.btn-custom {
  background-color: #ed3859;
  color: white;
}

.heading {
	font-family: 'Shadows Into Light', cursive;
	color: white;
}

#introBar {
  margin-top: 3vh;
  margin-bottom: 15vh;
  text-align: center;
}

#weatherBar {
  background-color: black;
  border-top: solid;
  border-width: thin;
  border-color: #bcbcbc;
  color: white;
  text-align: center;
}

#weatherBox, #trafficBox {
  text-align: center;
  color: white;
}

#trafficLevel {
  margin-bottom: 2vh;
}

.weatherIcon {
  margin: 0 auto;
}

#temperature {
  font-size: 5em;
}

#forecastBar {
  background-color: #34373a;
  color: white;
  text-align: center;
}

#forecastHeading {
  margin-bottom: 2vh;
}

#foreCastA, #foreCastB, #foreCastC, #foreCastD, #foreCastE {
  text-align: center;
}

.des {
  font-size:.75em;
}

.capitalize {
  text-transform: capitalize;
}

#eventHeading {
  text-align: center;
  color: black;
}

#eventBarA {
  text-align: center;
  color: black;
}

#eventBarB {
  text-align: center;
  color: black;
}

#errorBar {
  text-align: center;
  color: red;
  margin-top: 5vh;
  margin-bottom: 15vh;
}

#noEventsBar {
  margin-bottom: 15vh;
  color: red;
  text-align: center;
}

#eventHeading {
  margin-top: 3vh;
  font-family: 'Questrial', sans-serif;
}

.eventBoxes {
  margin-top: 7vh;
  text-align: center;
}

#moreInfoBar {
  text-align: center;
  margin-top: 7vh;
}

#aboutInfo, #contactBar {
  font-family: 'Questrial', sans-serif;
}

#contactBar {
  margin-top: 8vh;
  text-align: center;
}

.fa {
  margin-left: 20px;
  margin-right: 20px;
}

#footer {
  height: 75px;
  background-color: #1c1c1c;
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#copyright {
  margin-top: 25px;
}

@media only screen and (max-width: 500px) {

.banner {
  height: 270px;
}

}
